.d-flex-column {
  display: flex;
  flex-direction: column;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.m-1 {
  margin: 1rem;
}

.py-1 {
  padding: 1rem 0rem;
}

.font-20 {
  font-size: 20px;
}

.font-bold {
  font-weight: bold;
}

.w-50 {
  width: 50%;
}

.w-15 {
  width: 20%;
}

.devider {
  border: 1px solid rgba(0, 0, 0, 0.301);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.mt-2 {
  margin-top: 2rem !important;
}

.pb-1 {
  padding-bottom: 1rem;
}

.font-blur {
  color: #b9b9b9;
}

.color-box-lime {
  background-color: #00C190;
  height: 10px;
  width: 10px;
}

.color-box-orange {
  background-color: #F38215;
  height: 10px;
  width: 10px;
}

.color-box-red {
  background-color: #D55E58;
  height: 10px;
  width: 10px;
}

.mx-2 {
  margin: 0px 10px;
}

.align-items-center {
  align-items: center;
}

.h1 {
  margin: 0;
  padding: 0;
  color: #28A1CF;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.border-top-green {
  border-top: 5px solid #04be8f;
}

.mt-5 {
  margin-top: 5rem;
}